* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", "Helvetica", Helvetica, sans-serif;
    background: #aa9a96;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 100;
}

.main-section {
    width: 60%;
    margin: auto;
}

.header {
    color: #f7df1e;
    text-align: center;
}

.user-list {
    width: 80%;
    margin: auto;
}

.random-user {
    width: 100%;
    line-height: 1.5;
    color: #000;
    box-sizing: inherit;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(34,36,38,.15);
}

.user-image {
    float: left;
    margin-right: 20px;
}

.user-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .main-section {
        width: 90%;
    }

    .user-image {
        width: 100%;
        text-align: center;
    }

    .user-image img {
        width: 150px;
        height: auto;
    }

    .random-user {
        text-align: left;
        word-break: break-word;
        padding: 10px;
    }
}